html {
    width: 100%;
    height: 100vh;
}

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
  margin: 0;
  color: #444;
  height: 100%;
}

.btn {
    border: none;
    font-size: 1rem;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;

    &:hover {
        color: rgba(0, 0, 0, .9);
    }
}